@use '../abstracts' as *;

.page-board {
    .board-hero {
        margin-bottom: 48px;

        .card-header {
            display: flex;
            justify-content: space-between;

            .header-content {
                .report-title {
                    margin-bottom: 12px;
                }
            }
        }

        .card-content {
            display: flex;
            align-items: flex-end;
            margin-top: 40px;

            .content-info {
                width: 0;
                flex: 1 0;

                .info-item {
                    width: fit-content;
                    padding: 6px 10px;
                    border-radius: 10px;

                    .info-text,
                    .info-count {
                        font-size: 14px;
                        font-weight: 600;
                    }

                    &.info-critical {
                        margin-top: 10px;
                        border: 1px solid $criticalBorder;

                        >* {
                            color: $criticalText;
                        }
                    }

                    &.info-tasks {
                        border: 1px solid $secondaryText;

                        >* {
                            color: $secondaryText;
                        }
                    }
                }
            }

            .content-buttons {
                display: flex;
                align-items: center;
                gap: 12px;
            }
        }
    }

    .board-lists {
        display: flex;
        flex-wrap: nowrap;
        overflow-y: auto;
        overflow-x: auto;
        gap: 24px;
        padding-bottom: 50px;

        .board-list {
            padding: 0px;
            width: calc(30% - 24px * 2 / 3);
            min-width: calc(30% - 24px * 2 / 3);
        }

        .board-addlist {
            align-self: flex-start;
            border: 2px dashed $primaryBorder;
            text-align: center;
            padding: 40px 24px;
            border-radius: $radius;
            cursor: pointer;
            transition: background-color .3s ease;

            &:hover {
                background-color: $cardBg;
            }
        }
    }
}