@use '../abstracts' as *;

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: -1px;
    left: 0;
    width: 100%;
    padding: 24px;
    background: rgba($color, 0.2);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid $primaryBorder;
    z-index: 1;

    .header-logo {
        .icon {
            aspect-ratio: 23 / 5;
            height: 40px;
            width: auto;
            background-color: $primaryText;
            transition: all 0.3s ease;
        }


        &:hover {
            .icon {
                background-color: $primaryAccent;
            }
        }
    }

    .header-links {
        display: flex;
        align-items: center;
        gap: 16px;

        .header-link {
            color: $primaryText;
            text-decoration: none;
            transition: all 0.3s ease;

            &:hover {
                color: $primaryAccent;
            }
        }

        .theme-button {
            .icon {
                aspect-ratio: 1 / 1;
                height: 24px;
                width: auto;
                background-color: $primaryText;
                transition: all 0.3s ease;

                &.hidden {
                display: none;
            }

                &:hover {
                    background-color: $primaryAccent;
                }
            }
        }
    }
}