@use '../abstracts' as *;

.page-report {
    .report-hero {
        margin-bottom: 48px;

        .card-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;

            .header-content {
                .report-title {
                    margin-bottom: 12px;
                }
            }
        }

        .card-body {
            display: flex;
            flex-wrap: wrap;

            .info-item {
                width: 25%;

                .label,
                .value {
                    font-size: 14px;
                }

                .label {
                    font-weight: 700;
                    margin-bottom: 8px;
                }
            }
        }

        .card-buttons {
            display: flex;
            align-items: center;
            gap: 18px;
            justify-content: flex-end;
            margin-top: 40px;
        }

        .resume-list {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            margin-top: 24px;

            .resume-card {
                padding: 24px;
                width: calc(100% / 3 - (16px * 2 / 3));

                .resume-title {
                    font-size: 18px;
                    margin-bottom: 24px;
                }

                .resume-value {
                    font-size: 14px;
                }

                .resume-buttons {
                    text-align: center;
                    margin-top: 32px;
                }
            }
        }
    }
}