/// Breakpoints
/// @type Number
$mobile: 743px;
$tablet: 1023px;
$desktop: 1439px;

/// Navigation
/// @type Number
$navbarHeight: 64px;
$navbarHeight--mobile: 64px;

/// Container
$container-width: 1440px;