@use '../abstracts' as *;

.button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: $primaryAccent;
    color: white;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;

    .icon {
        width: 20px;
        height: 20px;
        background-color: $primaryText;
    }
    
    &:hover {
        background-color: $primaryAccentHover;
    }
    
    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }

    &.button-secondary {
        border: 1px solid $primaryText;
        background-color: transparent;
        color: $primaryText;
        
        &:hover {
            color: $inverseText;
            background-color: $primaryText;

            .icon {
                background-color: $inverseText;
            }
        }
    }
}

.action-button {
    padding: 2.5px;
    border-radius: 50%;

    .icon {
        width: 20px;
        height: 20px;
        background-color: $primaryText;
    }
    
    &:hover {
        background-color: $cardSecondaryBg;
    }
}