@use '../abstracts' as *;

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;

    .modal-content {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $cardBg;
        border: 1px solid $primaryBorder;
        border-radius: $radius;
        width: 90%;
        max-width: 750px;

        .modal-close {
            position: absolute;
            top: 10px;
            right: 19px;
            padding: 5px;
            border-radius: 50%;
            transition: background-color .3s ease;

            &:hover {
                background-color: $tertiaryBg;
            }

            .icon-close {
                width: 20px;
                height: 20px;
                background-color: $primaryText;
            }
        }

        .modal-title {
            color: $primaryText;
            font-size: 20px;
            font-weight: bold;
            padding: 12px 24px;
            padding-right: 45px;
            border-bottom: 1px solid $primaryBorder;
        }

        .modal-body {
            padding: 24px;
            max-height: 70dvh;
            overflow-y: auto;
        }
    }

    &.modal-task {
        .modal-body {
            max-height: none;
            overflow-y: visible;
        }

        .task-tags {
            position: relative;
            display: flex;
            align-items: flex-start;

            .actions-menu {
                position: absolute;
                right: 30px;
                top: -9px;
            }

            .tags-info {
                width: 0;
                flex: 1 0;

                .tag-row {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 16px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    p {
                        font-size: 14px;
                        color: $secondaryText;
                    }
                }
            }
        }

        .task-content {
            max-height: 50dvh;
            overflow-y: auto;
            margin-top: 10px;

            .content-title {
                margin-top: 30px;
                margin-bottom: 10px;
                font-size: 14px;
                font-weight: bold;
                color: $primaryText;
            }

            .task-details,
            .task-comments {
                .content-info {
                    font-size: 14px;
                    color: $secondaryText;
                }
            }

            .task-location {
                margin-top: 20px;

                .content-info {
                    font-family: monospace;
                    font-size: 13px;
                    padding: 8px;
                    border-radius: 8px;
                    word-wrap: break-word;
                    background-color: $cardSecondaryBg;
                }
            }

            .task-comments {
                .comment-form {
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    button {
                        align-self: flex-end;
                    }
                }
            }
        }
    }

    &.modal-addlist {
        .modal-body {
            .form-addlist {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 16px;

                .addlist-name {
                    width: 100%;
                    max-width: 300px;
                }
            }
        }
    }
}